<footer class="footer" style="background-color:#FEEA69;">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12" align="center">
        Encuéntranos en:
        <br>
        <a href="http://www.google.cl">
          
          <img src="{{ site.baseurl }}/assets/images/icons/twitter.png" class="img-responsive" height="50px" width="50px"/>
        </a>
        <a href="http://www.google.cl">
          <img src="{{ site.baseurl }}/assets/images/icons/facebook.png" class="img-responsive" height="50px" width="50px"/>
        </a>
        <a href="http://www.google.cl">
          <img src="{{ site.baseurl }}/assets/images/icons/linkedin.png" class="img-responsive" height="50px" width="50px"/>
        </a>
        <a href="http://www.google.cl">
          <img src="{{ site.baseurl }}/assets/images/icons/youtube.png" class="img-responsive" height="50px" width="50px"/>
        </a>
      </div>
    </div>
  </div>
</footer>