<footer class="footer" style="background-color:#FEEA69;" width="400px">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12" align="center" style="padding-bottom: 20px">
        Encuéntranos en:
        <br>
        
        <a href="//www.facebook.com/duckietowncl/" target="_blank">
          <img src="{{ site.baseurl }}/assets/images/icons/facebook.png" class="img-responsive" height="50px" width="50px" hspace="10"/>
        </a>
        <a href="//www.linkedin.com/company/16216196/" target="_blank">
          <img src="{{ site.baseurl }}/assets/images/icons/linkedin.png" class="img-responsive" height="50px" width="50px" hspace="10"/>
        </a>
        <a href="//www.youtube.com/channel/UCYaVllnrKJB8gskhb30FpBA" target="_blank">
          <img src="{{ site.baseurl }}/assets/images/icons/youtube.png" class="img-responsive" height="50px" width="50px" hspace="10"/>
        </a>
      </div>
    </div>
  </div>
</footer>