<div class="container-fluid" >
	<div class="row-sm-1">
		<nav class="navbar fixed-top navbar-toggleable-md navbar-light" style="background-color:#FEEA69;">
		  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" style="margin-top:20px;">
		    <span class="navbar-toggler-icon"></span>
		  </button>

		  <a class="navbar-brand" href="{{ site.baseurl }}/"><img alt="Brand" src="{{ site.baseurl }}/assets/images/logo/duckietown_engineering_chile_1024.png" class="img-responsive" height="70" width="130"/></a>

		  <div class="collapse navbar-collapse" id="navbarSupportedContent">
		    <ul class="navbar-nav mr-auto">
		      <li class="nav-item active">
		        <a class="nav-link" href="{{ site.baseurl }}/">Inicio</a>
		      </li>
		      <li class="nav-item dropdown">
		        <a class="nav-link active dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		          Proyecto
		        </a>
		        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
		          <a class="dropdown-item" href="{{ site.baseurl }}/proyecto/curso">Curso</a>
		          <a class="dropdown-item" href="{{ site.baseurl }}/proyecto/empresa">Empresa</a>
		        </div>
		      </li>

		      <li class="nav-item active">
		        <a class="nav-link" href="{{ site.baseurl }}/material-del-curso">Material del Curso</a>
		      </li>
		  </div>
		</nav>
	</div>
</div>
