<!DOCTYPE html>

<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- CSS -->
    <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css">

    <style>
      html, body {
        height: 100%;
      }

      #wrap {
        min-height: 90%;
        margin-top: 140px;
        margin-right: 100px;
        margin-left: 100px;
        margin-bottom: 50px;
      }

      #main {
        overflow:auto;
      }

      .footer {
        position: relative;
        clear:both;
        padding-top: 25px;
      } 
    </style>
  </head>

  <body>
    {% include header.html %}
    
    <div id="wrap">
      <div id="main" class="container clear-top">
        <div class="column-sm-6" width="50px">
          {{ content }}
        </div>
      </div>
    </div>

    {% include footer.html %}

    <!-- JavaScript -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>    
  </body>

</html>